.rounded-circle{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
}
.border-primary{
    border-color: #4571ff !important;
}

.bg-primary {
    background-color: #3933e8 !important;
    color: white;
  }
  
.bg-secondary {
   background-color: #3933e8 !important;
   color: white;
}
.navlink{
    width: 7rem;
}

.card{
    display: inline-block;
    width: 30%;
}
.card-title{
    font-size: calc(0.5rem + 1vw);
}
.card-text{
    font-size: 1vw;
}

#post{
    width: 100%;
}
#postImg{
    height: 10vw;
    width: auto;
}
#postContent{
    text-align: left;
}
.card-header{
    text-align: left;
}

#collapseExample{
    border: 1px #4571ff solid !important;
    border-top: 0px;
}
.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}
#profileBtn{
    width: 4vw;
    height: 2vw;
}

.accordion{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}